{
    "schemes": ["http","https"],
    "swagger": "2.0",
    "info": {
        "description": "The responses of the open api in swagger focus on the data field rather than the code and the message fields",
        "title": "Rainbow-API",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.nftrainbow.cn",
    "basePath": "",
    "paths": {
        "/dashboard/apps/{id}/nft/batch/by-meta-parts": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Batch Mint a NFT by providing a file url to create the metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Batch Mint NFT with metadata parts",
                "operationId": "AppBatchMintNFT",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "mint_meta",
                        "name": "app_batch_mint_meta_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/services.AppMintByMetaPartsDto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.MintTask"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/dashboard/apps/{id}/nft/batch/by-meta-uri": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Batch Mint a NFT by providing tokenIds and metadata urls to create the metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Batch Mint NFT with metadata uri",
                "operationId": "AppBatchMintByMetaUri",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "batch_mint_request",
                        "name": "batch_mint_request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.AppBatchMintByMetaUriDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/dashboard/login": {
            "post": {
                "description": "User login to get the JWT according to the email and password",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "User login",
                "operationId": "UserLogin",
                "parameters": [
                    {
                        "description": "login info, contain app_id and app_secret",
                        "name": "userLoginInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/middlewares.UserLoginInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "auth token",
                        "schema": {
                            "$ref": "#/definitions/middlewares.LoginResp"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/dashboard/refresh_token": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Obtain a new JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "Refresh JWT",
                "operationId": "RefreshUserAuth",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "refreshed auth token",
                        "schema": {
                            "$ref": "#/definitions/middlewares.LoginResp"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/accounts": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Query web3 account",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Query web3 account",
                "operationId": "QueryAccounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "boolean",
                        "description": "is created by user",
                        "name": "owned",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "phone",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.CustodialAccountDisplay"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Insert web3 account",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Accounts"
                ],
                "summary": "Insert web3 account",
                "operationId": "InsertAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "insert_account_req",
                        "name": "insert_account_req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.InsertAccountReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.CustodialAccountDisplay"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/burns": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the NFT burned list information.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Burns"
                ],
                "summary": "Obtain the burned NFTs list",
                "operationId": "GetBurnList",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BurnTaskQueryResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Burn NFT by admin",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Burns"
                ],
                "summary": "Burn NFT",
                "operationId": "BurnNft",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "burn_dto",
                        "name": "burn_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.BurnDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BurnTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/burns/customizable/batch": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Batch burn NFT by admin",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Burns"
                ],
                "summary": "Batch burn NFT",
                "operationId": "BurnBatch",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "burn_batch_dto",
                        "name": "burn_batch_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.BurnBatchDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.BurnTask"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/burns/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT Burn detail info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Burns"
                ],
                "summary": "Burn NFT detail",
                "operationId": "GetBurnDetail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.BurnTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the contract list containing the contracts deployed through the specified app.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Obtain contract list",
                "operationId": "ListContracts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ContractTaskQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Deploy a ERC721 or ERC1155 contract.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Deploy contract",
                "operationId": "DeployContract",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "contract_info",
                        "name": "contract_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.ContractDeployDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Contract"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/detail/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Contract info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Contract detail",
                "operationId": "GetContractInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Contract"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/admin": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Contract Admin",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Get administrator of contract, only work on conflux chain",
                "operationId": "GetContractAdmin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Admin address",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update administrator of contract, only work on conflux chain",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Update administrator of contract",
                "operationId": "UpdateContractAdmin",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "contract admin update info",
                        "name": "admin_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.ContractAdminUpdateDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction id",
                        "schema": {
                            "$ref": "#/definitions/services.SendTxResp"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/config/auto-sponsor": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get contract auto sponsor config",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Get contract auto sponsor config",
                "operationId": "GetContractAutoSponsor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/models.AutoSponsorContract"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Set contract auto sponsor config",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Set contract auto sponsor config",
                "operationId": "SetContractAutoSponsor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "contract auto sponsor config",
                        "name": "auto_sponsor_req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.ContractAutoSponsorReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/gin.H"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/config/transaferable": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Set Contract TransaferableByAdmin and TransaferableByUser Config",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Set Contract Transaferable Config",
                "operationId": "SetContractTransaferable",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction id",
                        "schema": {
                            "$ref": "#/definitions/services.SendTxResp"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/profile": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get contract runtime profile, contains contract info and currently minted/minting max token id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Get contract runtime profile",
                "operationId": "GetContractProfile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "the returned max token id will ignore the token ids",
                        "name": "ignore_token_ids",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ContractRuntimeProfile"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/sponsor": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the sponsor of the specified contract according to address.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Query sponsor",
                "operationId": "GetContractSponsorInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "chain",
                        "name": "chain",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.SponsorInfo"
                        }
                    },
                    "400": {
                        "description": "Invalid address",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Set the sponsor for a contract according to the address with specified value(gas-1, storage-50)",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Set sponsor",
                "operationId": "SetContractSponsor",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "chain: conflux, conflux_test(default)",
                        "name": "chain",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "gas: default value is 1",
                        "name": "gas",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "storage: default value is by user default setting",
                        "name": "storage",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Open auto sponsor or not, for mainnet contract keep user account have enough balance",
                        "name": "auto_sponsor",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction id\"\t\"success",
                        "schema": {
                            "$ref": "#/definitions/services.SetSponsorResp"
                        }
                    },
                    "400": {
                        "description": "Invalid address",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/contracts/{address}/sponsor/whitelist": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get contract sponsored whitelist, only work on conflux chain",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Get contract sponsored whitelist",
                "operationId": "GetContractSponsoredWhitelist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contract sponsored whitelist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Add contract sponsored whitelist, only work on conflux chain",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Add contract sponsored whitelist",
                "operationId": "AddContractSponsorWhitelist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Adding sponsor whitelist",
                        "name": "users",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction id",
                        "schema": {
                            "$ref": "#/definitions/services.SendTxResp"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Remove contract sponsored whitelist, only work on conflux chain",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Contract"
                ],
                "summary": "Remove contract sponsored whitelist",
                "operationId": "RemoveContractSponsorWhitelist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Removing sponsor whitelist",
                        "name": "users",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transaction id",
                        "schema": {
                            "$ref": "#/definitions/services.SendTxResp"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Businesss error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/files": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the file list containing the info of the files uploaded in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Obtain file list",
                "operationId": "ListFiles",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.FilesQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/files/folder/oss": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Upload a folder containing the files which can be a video, an image and so on, to oss",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Upload folder to oss",
                "operationId": "UploadFolderToOSS",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "uploaded folder",
                        "name": "folder",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.UploadFolderResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/files/oss": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Upload a file to OSS, which can be a video, an image and so on",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Files"
                ],
                "summary": "Upload file to OSS",
                "operationId": "UploadFileToOss",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "uploaded file",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.UploadFilesResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/login": {
            "post": {
                "description": "Login the app to get the JWT according to the app_id and app_secret",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "App login",
                "operationId": "LoginApp",
                "parameters": [
                    {
                        "description": "login info, contain app_id and app_secret",
                        "name": "appLoginInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/middlewares.AppLoginInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "auth token",
                        "schema": {
                            "$ref": "#/definitions/middlewares.LoginResp"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/metadata": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the metadata list containing the info of the metadata created in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Obtain metadata list",
                "operationId": "ListMetadatas",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadataQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create NFT metadata by providing the info including name, description and so on",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Create NFT metadata",
                "operationId": "CreateMetadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "metadata_info",
                        "name": "metadata_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.MetadataDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadata"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/metadata/{metadata_id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Query the metadata according to metadata_id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Metadata"
                ],
                "summary": "Query metadata",
                "operationId": "GetMetadatInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "metadata_id",
                        "name": "metadata_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.ExposedMetadata"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the NFT list containing the NFTs minted in the specified app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Obtain NFT list",
                "operationId": "ListMints",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "contract",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "mint_to",
                        "name": "mint_to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "chain",
                        "name": "chain",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTaskQueryResult"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by providing a metadata url",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT",
                "operationId": "CustomMint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "custom_mint_dto",
                        "name": "custom_mint_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.CustomMintDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints/customizable/batch": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint several NFTs once",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Batch Mint NFTs",
                "operationId": "BatchCustomMint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "custom_mint_batch_dto",
                        "name": "custom_mint_batch_dto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.CustomMintBatchDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.MintTask"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints/easy/files": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by uploading a file which can be a video, image and so on",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT with file",
                "operationId": "EasyMintByFile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "chain",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "description",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "mint_to_address",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "formData",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "file",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints/easy/urls": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Mint a NFT by providing a file url to create the metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT with metadata",
                "operationId": "EasyMintByMetadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "easy_mint_meta_info",
                        "name": "easy_mint_meta_info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/services.EasyMintMetaPartsDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT detail info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Mint NFT detail",
                "operationId": "GetMintDetail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/mints/{id}/reMint": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Reset mint task status to init so that it can be minted again",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Mints"
                ],
                "summary": "Reset mint task status to init so that it can be minted again",
                "operationId": "ReMintNFT",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MintTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/nft/count/{address}/{token_id}/{holder}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT hold count by address",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "NFTs"
                ],
                "summary": "Get NFT hold count by address",
                "operationId": "NFTHoldCount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "token_id",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "holder address",
                        "name": "holder",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract type erc721, erc1155, default is erc721",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "description": "epoch height, default is latest_state",
                        "name": "epoch_height",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "count",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "integer"
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/nft/{address}/{token_id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get NFT info, mainly owner and metadata",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "NFTs"
                ],
                "summary": "Get NFT info, mainly owner and metadata",
                "operationId": "NftInfo",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "token_id",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "contract type erc721, erc1155, default is erc721",
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.NFT"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/nft/{address}/{token_id}/tokenUri": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update NFT token uri",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "NFTs"
                ],
                "summary": "Update NFT token uri",
                "operationId": "UpdateNftTokenUri",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "address",
                        "name": "address",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "token_id",
                        "name": "token_id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "req",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/routers.UpdateTokenUriReq"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Transaction"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/refresh_token": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Obtain a new JWT",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Login"
                ],
                "summary": "Refresh JWT",
                "operationId": "RefreshAppAuth",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer openapi_token",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "refreshed auth token",
                        "schema": {
                            "$ref": "#/definitions/middlewares.LoginResp"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/tba/accounts": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get token bound accounts based on contract, token_id, implementation, chain type, and chain id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "TBA"
                ],
                "summary": "Get all token bound accounts on chain",
                "operationId": "TBAQueryEndpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Chain name, should be either conflux or conflux_test",
                        "name": "chain",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "The implementation contract address of the tba. Will throw an error if the implementation is not in whitelist",
                        "name": "implementation",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token contract address of the bounded NFT",
                        "name": "contract",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token ID",
                        "name": "token_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token bound accounts information",
                        "schema": {
                            "$ref": "#/definitions/models.TokenBoundAccountQueryResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Business error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create a new token bound account based on provided parameters.  Can optionally specify which collection to add. Will fail if the tba is already created or in the queue",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "TBA"
                ],
                "summary": "Create a new token bound account (TBA)",
                "operationId": "TBACreationEndpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Token Bound Account creation details",
                        "name": "tbaCreateDto",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.TBACreateDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token bound account creation task information",
                        "schema": {
                            "$ref": "#/definitions/models.TBACreationTask"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    },
                    "599": {
                        "description": "Business error",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
                    }
                }
            }
        },
        "/v1/tba/collections": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Query TBA collections based on chain, and collection name",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "TBA"
                ],
                "summary": "Query token bound account (TBA) collections",
                "operationId": "TBACollectionQueryEndpoint",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Bearer Open_JWT",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "The chain type. The types include `conflux` and `conflux_test`",
                        "name": "chain",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Collection name",
                        "name": "name",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Limit per page",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TBA collections information",
                        "schema": {
                            "$ref": "#/definitions/models.TokenBoundAccountCollectionQueryResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/rainbow_errors.RainbowErrorDetailInfo"
                        }
[...]
